# These variables are automatically passed into docker compose.
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_URL=postgresql://postgres:postgres@db:5432/postgres?sslmode=disable

# These must be loaded with python-dotenv.
FLASK_ENV=development

DB_CONN_STRING="host=localhost dbname=postgres user=postgres password=postgres port=5432"
TEST_DB_CONN_STRING="host=localhost dbname=postgres user=postgres password=postgres port=5433"
